@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-textbox-height {
  min-height: 100px; /* or any other value */
  height: auto; /* if you want it to grow with content */
}

/* CSS styles */
.text-input-container {
  margin-bottom: 16px;
}

.text-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100px; /* Increase the height as needed */
  resize: none; /* Prevent resizing if desired */
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.predict-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.control-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.button {
  padding: 8px 16px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.predict {
  background-color: #4f46e5; /* Tailwind color purple-600 */
}

.play {
  background-color: #22c55e; /* Tailwind color green-500 */
}

.pause {
  background-color: #facc15; /* Tailwind color yellow-400 */
}

.clear {
  background-color: #ef4444; /* Tailwind color red-500 */
}

.delete, .share, .generate {
  background-color: #3b82f6; /* Tailwind color blue-500 */
}

.right-section {
  width: 20%;
  background-color: #f3f4f6; /* Tailwind color gray-100 */
  padding: 15px;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

.title {
  font-weight: bold;
  margin-bottom: 8px;
}

.keyboard-wrapper {
  /* Set a max-width if the keyboard is too wide */
  /* padding: 2%; */
  max-width: 100%; 
  /* Adjust this value as needed */
  /* Use margin to center the keyboard in the space */
  /* You can also set a fixed height or min-height */
  /* min-height: 700px;  */
  /* Adjust this value as needed to prevent it from looking stretched */
}



/* make this more reactive to screen size but should be large */
.simple-keyboard {
  max-width: 1500px;
}

.simple-keyboard.hg-theme-ios {
  width: 1300px;
  margin: auto;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-row .hg-button {
  flex-grow: 1;
  cursor: pointer;
  max-width: initial;
}
.simple-keyboard.hg-theme-ios .hg-row {
  display: flex;
}
.simple-keyboard.hg-theme-ios .hg-row:not(:last-child) {
  margin-bottom: 5px;
}
.simple-keyboard.hg-theme-ios .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}
.simple-keyboard.hg-theme-ios .hg-row:nth-child(2) {
  margin-left: 18px;
}
.simple-keyboard.hg-theme-ios.hg-theme-default {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
}
.simple-keyboard.hg-theme-ios.hg-theme-default.hg-layout-custom {
  background-color: #e5e5e5;
  padding: 5px;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0;
  background: white;
  border-bottom: 1px solid #b5b5b5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  font-weight: 400;
  font-size: 20px;
  max-width: 80px;
  min-width: 80px;
  height: 80px;
  min-height: 80px;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button:active,
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button:focus {
  background: #e4e4e4;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button.hg-functionBtn {
  background-color: #adb5bb;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button.hg-button-space,
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button.hg-button-shift,
.simple-keyboard.hg-theme-ios.hg-theme-default
  .hg-button.hg-button-shiftactivated {
  background-color: #ffffff;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-space {
  max-width: 448px;
  min-width: 448px;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-enter {
  max-width: 110px;
  min-width: 110px;
}
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-altright,
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-back {
  min-width: 80px;
  max-width: 80px;
}
