@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-textbox-height {
  min-height: 100px;
  /* or any other value */
  height: auto;
  /* if you want it to grow with content */
}

/* CSS styles */
.text-input-container {
  margin-bottom: 16px;
}

.text-input {
  width: 100%;
  padding: 8px;
  font-size: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100px;
  /* Increase the height as needed */
  resize: none;
  font-weight: bold;
  /* Prevent resizing if desired */
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.predict-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.control-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.button {
  padding: 8px 16px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100%;
  font-weight: bold;
}

/* Increase max-width and font-size for larger screens */
@media screen and (min-width: 768px) {
  .button {
    max-width: 100%; /* Adjust as needed */
    font-size: 18px; /* Adjust as needed */
  }
}

/* Increase max-width and font-size for even larger screens */
@media screen and (min-width: 1200px) {
  .button {
    max-width: 100%; /* Adjust as needed */
    font-size: 25px; /* Adjust as needed */
  }
}
.predict {
  background-color: #4f46e5;
  /* Tailwind color purple-600 */
}

.play {
  background-color: #22c55e;
  /* Tailwind color green-500 */
}

.play-disabled {
  background-color: #adb5bb;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  /* Tailwind color green-500 */
}

.pause {
  background-color: #facc15;
  /* Tailwind color yellow-400 */
}

.clear {
  background-color: #ef4444;
  /* Tailwind color red-500 */
}

.magic{
  background-color: #aa00ff;
}
.column {
  position: relative; /* Add this line */
  /* rest of your styles */
}

.button.magic {
  position: absolute;
  bottom: 5%;
  width: 90%; /* Make the button as wide as its parent */
  height: 10%;
  /* rest of your styles */
}

.delete,
.share,
.generate {
  background-color: #3b82f6;
  /* Tailwind color blue-500 */
}

.right-section {
  width: 20%;
  background-color: #f3f4f6;
  /* Tailwind color gray-100 */
  padding: 15px;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

.title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 25px;
}

.glow {
  outline: #ff0011 auto 5px; /* Change to the color and size you want */
}


/* Styles for iPad Air */
@media (max-width: 1180px) {
  .simple-keyboard {
    position: fixed;
    bottom: 5%;
    left: 1%;
    max-width: 75%;
    margin: auto;
  }

  .simple-keyboard.hg-theme-ios {
    width: 100%;
    margin: auto;
  }
}
/* Styles for iPad Max */
@media (min-width: 1181px) and (max-width: 1366px) {
  .simple-keyboard {
    position: fixed;
    bottom: 5%;
    left: 1%;
    max-width: 78%;
    margin: auto;
  }

  .simple-keyboard.hg-theme-ios {
    width: 100%;
    margin: auto;
  }
}
/* Styles for larger than ipad max */
@media (min-width: 1367px) and (max-width: 2000px) {
  .simple-keyboard {
    position: fixed;
    bottom: 5%;
    left: 1%;
    max-width: 78%;
    margin: auto;
  }

  .simple-keyboard.hg-theme-ios {
    width: 100%;
    margin: auto;
  }
}


.simple-keyboard.hg-theme-ios.hg-theme-default .hg-row .hg-button {
  flex-grow: 1;
  cursor: pointer;
  max-width: initial;
}

.simple-keyboard.hg-theme-ios .hg-row {
  display: flex;
}

.simple-keyboard.hg-theme-ios .hg-row:not(:last-child) {
  margin-bottom: 5px;
}

.simple-keyboard.hg-theme-ios .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}

.simple-keyboard.hg-theme-ios .hg-row:nth-child(2) {
  margin-left: 18px;
}

.simple-keyboard.hg-theme-ios.hg-theme-default {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
}

.simple-keyboard.hg-theme-ios.hg-theme-default.hg-layout-custom {
  background-color: #e5e5e5;
  padding: 5px;
}

.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0;
  background: white;
  border-bottom: 1px solid #b5b5b5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  font-weight: 400;
  font-size: 25px;
  font-weight: bold; /* Make the font bold */
  max-width: 60px;
  min-width: 40px;
  height: 50px;
  min-height: 40px;
}
/* Increase height for larger screens */
@media screen and (min-width: 768px) {
  .simple-keyboard.hg-theme-ios.hg-theme-default .hg-button {
    height: 60px; /* Adjust as needed */
  }
}

/* Increase height for even larger screens */
@media screen and (min-width: 1200px) {
  .simple-keyboard.hg-theme-ios.hg-theme-default .hg-button {
    height: 85px; /* Adjust as needed */
  }
}

.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button:active,
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button:focus {
  background: #e4e4e4;
}

.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button.hg-functionBtn {
  background-color: #adb5bb;
}

.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button.hg-button-space,
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button.hg-button-shift,
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button.hg-button-shiftactivated {
  background-color: #ffffff;
}

.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-space {
  max-width: 448px;
  min-width: 448px;
}

.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-enter {
  max-width: 110px;
  min-width: 100px;
}

.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-altright,
.simple-keyboard.hg-theme-ios.hg-theme-default .hg-button-back {
  min-width: 80px;
  max-width: 80px;
}